##	Connected to M3-1 (Z-MOT)

[extruder]
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15

##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 21.6583983005

##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:17
microsteps: 16
full_steps_per_rotation: 200

nozzle_diameter: 0.400
filament_diameter: 1.75

# heater for this extruder is connected to E0 out
heater_pin: PB15

control = pid
pid_kp = 33.434
pid_ki = 2.346
pid_kd = 119.108



# hotend thermistor
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC0  # connected to TE0

min_temp: 15
max_temp: 270

min_extrude_temp: 170


[tmc2209 extruder]
uart_pin: PD10
interpolate: false
run_current: 0.5
hold_current: 0.4
