##	Connected to M5 (E1-MOT)

[stepper_z]
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5

rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

endstop_pin: ^PA0  # z endstop switch, connected to Z-

position_max: 290
position_min: -5
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: 0.250


[tmc2209 stepper_z]
uart_pin: PC14
uart_address: 0
run_current: 0.8
hold_current: 0.7

